body {
  .title-bar {
    background: lightgreen;
    border-style: solid;
    border-top-color: lightgreen;
    margin-bottom: 2em;
    border-radius: 0.5em;
    padding: 0.5em;
  }

  h1 {
    display: inline;
  }
   p {
     display: inline;
     float: right;
  }
}